#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.medievalsharp-regular {
  font-family: "MedievalSharp", cursive;
  font-weight: bold;
  font-style: normal;
  font-size: 3em;
  color: #eee;
}
