.main-container {
  border-radius: 5%;
  border: 1px solid gray;
  display: inline-block;
}

#player-name {
  font-size: 1.2em;
}

#player-score {
  margin-top: 0px;
  font-weight: bold;
  font-size: 3em;
}

.fira-sans-regular {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.source-code {
  font-family: 'Source Code Pro', monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
